.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  margin-left: 80px;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination li.active {
  background-color: #007bff;
  color: #fff;
}

.pagination li:hover {
  background-color: #eee;
}

.pagination a {
  text-decoration: none;
  color: black;
}
.postquestion {
  padding: 0px 20px !important;
}

.pagination a:hover {
  text-decoration: underline;
}

#signin:hover {
  color: #fff !important;
}

#ques_title {
  cursor: pointer;
}
#ques_title:hover {
  color: rgb(68, 148, 154) !important;
}

.Ask_By {
  background: #2f6f44;
  padding: 0px 5px 3px 5px;
  border-radius: 3px;
  color: #fff;
}
