body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #326abb !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* #formDiv {
  text-align: center !important;
} */
#box1{
  background: white;
  border: 2px solid green;
  padding: 50px 50px 5px 50px;
  box-shadow: 9px 9px 25px black;
  border-radius: 150px 0 150px 0;
  width: 40%;
  animation: exam 1s linear alternate;
}

.label{
width: 80%;
}


#form1{
  color: white;
  width: 50%;
  height: 65px;
  padding: 11px;
  font-size: 25px;
  box-shadow: 15px 15px 25px black;
  border: 2px solid green;
  background: green;
  border-radius: 0 100px 0 100px;
  animation: example 1s linear alternate;
}
