.container-fluid{
  padding: 0px;
}
#signbtn:hover{
  color: #fff !important;
} 

.navbar-brand>img{
  width: 150px !important;
}




@media only screen and (min-width:320px) and (max-width:576px){

.nav-item{
  text-align: left;
}
#signbtn{
  text-align: left;
  margin-top: 20px;
}  
:hover{
  color: #fff !important;
}  
.collapsed{
  margin-right: 30px;
}
}